body {
	font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif;
}

#loading {
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #dedede;
	text-align: center;
	padding-top: 10%;
}

#search {
	padding: 5px;
	position: fixed;
	background-color: aliceblue;
}

#search_span {
	vertical-align: middle;
}

#search_input {
	width: 190px;
}

#list_tree {
	margin-top: 35px;
}

#region_north,#region_north .l-btn {
	background-color: #548ac1;
	color: #fff;
}

#region_west {
	background-color: aliceblue;
}

.region-header {
	border: none;
	background-color: #fff;
	background: -webkit-linear-gradient(top, #548ac1 0, aliceblue 100%);
	background: -moz-linear-gradient(top, #548ac1 0, aliceblue 100%);
	background: -o-linear-gradient(top, #548ac1 0, aliceblue 100%);
	background: linear-gradient(to bottom, #548ac1 0, aliceblue 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#548ac1,
		endColorstr=aliceblue, GradientType=0);
}

.region-header,.region-header .panel-title {
	color: #fff;
	font-weight: normal;
}

.hidden{
	display:none;
}

.tree-info{
	color:#ccc;
}

a {
	color: #000;
	text-decoration: none;
}

a.nobb {
	background-color: #fff !important;
	border-color: #fff !important;
}

div.content-tab-header {
	
}

div.content-tab-content {
	padding: 10px;
	overflow-wrap: break-word;
}

div.comment-box {
	width: 96%;
}

div.tools_menu {
	background-color: #eeeeee;
	margin: 10px;
	padding: 10px;
}

ul.new-menu-list {
	list-style: none;
	padding: 0px;
}

ul.new-menu-list li {
	margin: 10px 15px;
	cursor: pointer;
}

ul.new-menu-list li p {
	margin: 2px 0;
}

ul.new-menu-list li p.nomal {
	font-family: Arial, Helvetica, 微软雅黑, 宋体;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

ul.new-menu-list li p.small {
	font-family: Arial, Helvetica, 黑体, 宋体;
	font-size: 10px;
	color: #ccc;
}

/*ICON*/
.icon-codepad-search {
	background: url('../img/icons/search.gif') no-repeat center center;
}