body {
	font: 12px/1.5 "Microsoft Yahei", "微软雅黑", verdana;
}

.easyui-accordion .menu-item {
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #fff;
}

.easyui-accordion .menu-line {
	border-left: 1px solid #dedede;
	border-right: 1px solid #fff;
}

.fa {
	padding: 2px;
}